body {
    
}


.titulo-principal {
    padding-left: 20px;
}


.principal{
    background: #91959c;
    padding: 30px;
}


.itens {
    font-style: italic;
}


.cuidados {
    background: #91959c;
    padding: 20px;
}


.titulo-centralizado {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}


.imagecuidados {
    width: 50%;
}

#banner {
    width: 100%;
}



h1 {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}