body {
    
}


.titulo-principal {
    font-style: normal;
    text-transform: uppercase;
    padding-left: 20px;
}

header {
    background: url("bg3.jpg");
    padding: auto;
}

.imagempet {
    width: 100%;
}

.principal{
    background: url("bg3.jpg");
    padding: 30px;
}

.subtitles {
    font-style: oblique;
    text-transform: uppercase;
}


.itens {
    display: list-item;
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    width: 50%;
    vertical-align: top;
    background: url("bg3.jpg");
    margin: 0 1.5%;
    padding: 30px 20px;
    
}


.cuidados {
    background: url("bg4.jpg");
    padding: 20px;
}


.titulo-centralizado {
    text-align: center;

}

ul {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 15%;
}



.imagemcuidados {
    width: 100%;


}



h1 {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}

